.f-18{
    font-size: 18px;
}

input[type=file]{
    background-color: transparent;
    border: none !important;
}

textarea{
    resize: vertical !important;
}

.padding{
    padding: 8px;
}

.page-content-wrapper.no-margin {
    margin: 20px 15px;
}

.page-header {
    padding: 10px 25px;
}

.page-header h2, .page-header h3, .page-header h4, .page-header h5 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.page-header .breadcrumb {
    float: right;
    padding: 10px 0 0 ;
    margin-bottom: 10px;
    font-size: 11px;
}

.page-content .breadcrumb{
    padding: 20px;
    text-align: left;
}

.navbar-fixed-top {
    background: #284958;
    border-bottom:1px solid #284958;
    /* left: 250px; */
}

.navbar-admin > a:hover{
    color: #000;
}

.navbar-header {
    height: 49px;
    /*background: #284958 ;*/
    /*border-right:1px solid #284958;*/
    color: #FFF;
}

.navbar-header a{
    color: #FFF;
}

.nav.navbar-top-links a.dropdown-toggle{
    color: #4dbdae;
}

.navbar-header .minimalize-btn.btn-primary {
    background: #212226;
    border: none !important;

}

.navbar-header .minimalize-btn.btn-primary i{
    color: #666 !important;
}

.steps{
    margin-top: 30px;
}

#sidebar-navigation {
    border-right: 0px solid #FFFFFF;
    background: #FFFFFF;
}

#sidebar-navigation .logo {
    background: #FFFFFF;
    border-bottom: 1px solid #284958;
    line-height: 52px;
}

#sidebar-navigation .logo a{ color: #34495e;}

#sidemenu li.profile-sidebar {
    background: #FFFFFF;
    margin-bottom: 0px;
    color: #284958;
}

#sidemenu li.profile-sidebar span{
    text-transform: uppercase;
    font-size: 11px;
    color: #e7e7e8;
    margin-bottom: 10px;
}

#sidemenu  > li > a{
    padding: 10px 20px;
    color: #1b4858;
}

#sidemenu  > li > a i{
    color: #1b4858;
}

#sidemenu > li > a:hover,
.expanded-menu > li > a:focus {
    background: #519bb2 !important;
    color: #333 !important;
}

#sidemenu > li.active > a {
    background: #fff;
}

#sidemenu > li.active > a i {
    color: #e7e7e8;
}

.dropzone{
    background-color: #d7d7d7;
    border: 2px dashed #7a7a7a !important;
}

.nav.nav-second-level {
    background: #fff;
}

.nav-second-level > li, .nav-third-level > li {
    border-bottom: 1px solid #e7eaec !important;
}

#sidemenu .nav-second-level li a {
    background: none !important;
    color: #222;
    padding: 5px 5px 5px 40px;
    font-size: 11px;
    font-weight: 600;
}

.navbar-mega-menu {

}

body.minimize-sidemenu .navbar-mega-menu {

}

body.body-small .navbar-mega-menu {

}

.sidebar-right .header {
    background: #1ab394 ;
}

.modal-header {
    background: #f7f9fa ;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.modal-header h4{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.sbox {
    border: solid 1px #eee;
    left: 0;
    right: 0;
}

.sbox.medium-box{
    width: 720px;
}

.sbox.large-box{
    width: 100%;
}

.divider{
    margin: 10px;
    border-top: 3px solid #eee;
}

.menu-control{
    border-bottom: 2px solid: #eee;
    padding-top: 20px;
    padding-bottom: 6px;
}

.divider-dark{
    margin: 10px;
    border-top: 3px solid #7a7a7a;
}

.radio-btn .notActive{
    color: #000 !important;
    background-color: #fff;
}

/* Sidebar Stuff */
#small-top {
    background: #f7f9fa linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%) no-repeat scroll 50% 100% / 100% 6px;
}

#wrapper {
    background: #e9ebee;
}

#sidebar-navigation {
    width: 250px;
}

#page-wrapper {
    margin: 0 0 0 250px;
    min-height: 800px;
}

.navbar-right{
    margin-right: 15px;
}

.navbar-top-links .dropdown-menu{
    margin-left: 60px;
}

.btn-dark {
    color: #fff;
    background-color: #222;
    border-color: #222
}

.btn-dark.focus, .btn-dark:focus {
    color: #fff;
    background-color: #252525;
    border-color: #252525
}

.btn-dark:hover {
    color: #fff;
    background-color: #252525;
    border-color: #252525
}

.btn-dark.active, .btn-dark:active, .open > .dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #252525;
    border-color: #252525
}

.btn-dark.active.focus, .btn-dark.active:focus, .btn-dark.active:hover, .btn-dark:active.focus, .btn-dark:active:focus, .btn-dark:active:hover, .open > .dropdown-toggle.btn-dark.focus, .open > .dropdown-toggle.btn-dark:focus, .open > .dropdown-toggle.btn-dark:hover {
    color: #fff;
    background-color: #111;
    border-color: #111
}

.btn-dark.active, .btn-dark:active, .open > .dropdown-toggle.btn-dark {
    background-image: none
}

.btn-dark.disabled.focus, .btn-dark.disabled:focus, .btn-dark.disabled:hover, .btn-dark[disabled].focus, .btn-dark[disabled]:focus, .btn-dark[disabled]:hover, fieldset[disabled] .btn-dark.focus, fieldset[disabled] .btn-dark:focus, fieldset[disabled] .btn-dark:hover {
    background-color: #222;
    border-color: #222
}

.btn-dark .badge {
    color: #222;
    background-color: #fff
}


.events-wrapper{
    padding: 10px 0;
}

.events-wrapper h2{
    color: #fff;
}

.events-wrapper .event-item{
    background-color:#FFF;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    font-size: 9px !important;
}

.events-wrapper .event-item .event-content{
    height: 130px;
}

.events-wrapper .event-item a h4{
    color: #ea5c60 !important;
    font-size: 13px !important;
}


.footer.fixed {
    margin-left: 250px;
}


