#timeline .timeline-item:last-child .timeline-icon@font-face {
    font-family: customFont;
    src: url("../fonts/Kanit/Kanit-Regular.ttf");
}

@font-face {
    font-family: 'db_helvethaica_x55_regular';
    src: url('../fonts/db_helvethaica_x_v3.2-webfont.eot');
    src: url('../fonts/db_helvethaica_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_v3.2-webfont.woff') format('woff'), url('../fonts/db_helvethaica_x_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'customFont' !important;
    /* font-family: sans-serif; */
    line-height: 20px;
    color: #000;
    font-size: 12px !important;
    font-weight: 100 !important;
}

textarea{
    resize: vertical;
}

ol, ul {
    list-style: none;
}

ul.parsley-errors-list {
    color: #F00;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #333;
}

h5{
    padding: 0 0 10px 0;
    margin: 0;
    line-height: 25px;
}

h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

a, a:hover, a:focus, a:active{
    outline: none;
}

.section-padding{
    padding: 60px 0px;
}

hr.botm-line {
    height: 3px;
    width: 60px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

input[type=file]{
    border: none;
    -webkit-box-shadow: none !important;
}

.padding {
    padding : 8px;
}

.padding-md {
    padding : 16px;
}

.padding-lg {
    padding : 24px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.absolute-center{
    position: absolute;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.img-responsive.avatar{
    width: 70%;
}

#video{
    width: 60%    !important;
    height: 450px   !important;
}

/***************************************
TEXT STYLE
***************************************/

.color-grey{
    color: #abb7b6;
}

.color-red{
    color: #F00;
}

.color-blue{
    color: #2c789b;
}

.color-white{
    color: #fff !important;
}

.color-green{
    color: #45d100 !important;
}


.bg-grey{
    background-color:#f3f3f3;
}

.text-small{
    font-size: 0.8em;
}

.text-large{
    font-size: 1.2em;
}
/***************************************
BUTTONS
***************************************/

.btn.btn-round{
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn.btn-outline{
    background-color: transparent;
    color:#FFF;
}

.back-to-top{
    border: 0px !important;
    border-radius: 0px !important;
    padding: 8px;
    margin-right: 35px;
}

.nav-tabs > li > a{
    padding-right: 50px;
}


/***************************************
ROW
***************************************/
.row.has-divider{
    border-bottom: 1px solid #eee;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

/***************************************
BANNER
***************************************/

.navbar {
    margin-bottom: 0px;
    border: 0px;
    background: rgba(28,74,90, 1);
}
.navbar {
    border-radius: 0px;
    background: rgba(28,74,90, 1);
}
.navbar-default {
    /*background-color: #fff;*/
    background: rgba(28,74,90, 1);
    padding: 0;
    transition: all 0.3s;
}
.navbar-default {
    background-color: transparent;
    border: 0px;
}

.navbar-default .navbar-toggle{
    border: 0px !important;
}

.navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar {
    border-radius: 0px;
    background: rgba(28,74,90,1);
}

.navbar-brand{
    font-size: 32px;
}

.navbar-brand img {
    padding-top: 2px;
    width: 110px !important;
}

.navbar {
    position: relative;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EA6045;
}

.top-nav-collapse {
    padding: 0; 
    background: rgba(28,74,90, 0.9);
}

.custom-top-nav{
    height: 60px;
    width: 100%;
    line-height: 60px;
    border-bottom: 2px solid #1a4150;
    background-color:#FFF;
}

.white, .white:hover, .white:focus{
    color: #fff !important;
    width: 100% !important;
}

.block{
    display: block;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 1);
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 1);
}
.affix{
    background-color: #ffffff !important;
}

.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus{
    background-color: rgba(12, 184, 182) !important;
}

#banner{
    /*custom remove background img*/
    /*background: url('../img/bg-banner.jpg') no-repeat fixed;*/
    background-size: cover;
    /* min-height: 90px; */
    position: relative;
}

.bg-color{
    background-color: RGBA(13, 70, 83, 1);
    min-height: 650px;
}
.banner-info{
    padding-top: 190px;
}
.banner-logo img{
    display: inline-block;
}
.banner-text{
    color: #fff;
}
.banner-text h1{
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom:15px; 
}

.events-wrapper{
    background-color: #13253f;
    padding: 10px 0;
}

.events-wrapper h2{
    color: #fff;
}

.events-wrapper .event-item{
    background-color:#FFF;
}

.events-wrapper .event-item .event-content{
    height: 120px;
}

.events-wrapper .event-item a h4{
    color: #ea5c60 !important;
    font-size: 13px !important;
}

.event-item-2{
    height: 250px; background-color:#fff; margin-bottom:18px;
    -webkit-box-shadow: 0px 11px 5px -9px rgba(166,166,166,1);
    -moz-box-shadow: 0px 11px 5px -9px rgba(166,166,166,1);
    box-shadow: 0px 11px 5px -9px rgba(166,166,166,1);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}


.demo-video {
    position: relative;
    display: inline-block;
}
.demo-video::before {
    /*content: '\f04b';*/
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    padding: 3px 15px 3px 25px;
    color: white;
    font-family: 'FontAwesome';
    font-size: 30px !important;
    background-color: rgba(23, 35, 34, 0.75);
    border-radius: 15px;
}

.btn-appoint, .btn-appoint:hover, .btn-appoint:focus{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(12, 184, 182, 0.91);
    border-radius: 3px;
    color: #fff;
}

.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
}
.text-primary i{
    padding-top: 8px;
    display: inline-block;
}

.btn-link.disabled{
    color: #555;
}

/***************************************
carousel banner
***************************************/

.carousel {
    background: #EEE;
    height: 380px;
}

.carousel-cell {
    width: 100%;
    height: 380px;
    /*background: #8C8;*/
    border-radius: 0px;
    counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
    display: none;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 400px;
    font-size: 80px;
    color: white;
}

.border-left-lg{
    border-left: 1px solid #cecece
}


/***************************************
STEPS
***************************************/
.steps {
    list-style-type: none;
    padding: 0;
}
.steps li {
    display: inline-block;
    margin-bottom: 3px;
}
.steps li a, .steps li p {
    background: #38a595;
    padding: 8px 20px;
    color: #FFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-indent: 12px;
}
.steps li a:hover, .steps li p:hover {
    text-decoration: none;
}
.steps li a:before, .steps li p:before {
    border-bottom: 18px solid transparent;
    border-left: 12px solid #fff;
    border-top: 18px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    margin-top: -18px;
}
.steps li a:after, .steps li p:after {
    border-bottom: 18px solid transparent;
    border-left: 12px solid #38a595;
    border-top: 18px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    /*right: -12px;*/
    left:100%;
    top: 50%;
    width: 0;
    margin-top: -18px;
    z-index: 1;
}
.steps li.active a, .steps li.active p {
    background: #20675d;
    color: #fff;
}
.steps li.active a:after, .steps li.active p:after {
    border-left: 12px solid #20675d;
}
.steps li.undone a, .steps li.undone p {
    background: #eee;
    color: #333;
}
.steps li.undone a:after, .steps li.undone p:after {
    border-left: 12px solid #eee;
}
.steps li.undone p {
    color: #aaa;
}

.uleague-banner{
    position:relative;
    width: 100%;
    height: 280px;
    background-size:cover;
    background-position:center;
}

/***************************************
PROFILE SIDE BAR
***************************************/

/* Profile container */
.profile {
    margin: 0;
    height: 100%;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 30px 0 30px 0;
}

.profile-userpic img {
    float: left;
    margin: 0 auto;
    width: 65px;
    height: 65px;
}

.profile-usertitle {
    float: left;
    text-align: center;
    margin-top: 20px;
    padding-left: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li.divider{
    padding: 6px 0px;
    font-weight: bold;
    color: #444;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #325C6A;
    font-size: 12px;
    font-weight: 100;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fff;
    color: #325C6A;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #325C6A;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    min-height: 900px;
    margin: 30px 0px;
}

.profile-content section, .course-content section {
    padding: 20px;
    background-color: #fff;
    border:1px solid #dddfe2;
    border-radius: 4px;
    margin-bottom: 20px;
}

/*
* COURSE PAGE
*/

.nav-tabs.course {
    border-bottom: 2px solid #DDD;
}

.nav-tabs.course > li{
    padding-top: 10px;
}

.nav-tabs.course > li.active > a, .nav-tabs > course > li.active > a:focus, .nav-tabs > course > li.active > a:hover {
    border-width: 0;
}

.nav-tabs.course > li > a {
    border: none;
    color: #666;
    font-size: 16px;
}

.nav-tabs.course > li > a:hover{
    background: transparent;
}

.nav-tabs.course > li.active > a, .nav-tabs > course > li > a:hover {
    border: none;
    color: #316782 !important;
    background: transparent;
}

.nav-tabs.course > li > a::after {
    content: "";
    background: #316782;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs.course > li.active > a::after, .nav-tabs > course > li:hover > a::after {
    transform: scale(1);
}

.tab-nav.course > li > a::after {
    background: #316782 none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane.course {
    padding: 15px 0;
}

.tab-content.course {
    padding: 20px
}

.card.course {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.custom {
    height: 80px;
    padding: 16px
}

.text {
    margin-left: 60px;
    overflow: hidden;
}

.cust-margin {
    margin-top: 4px;
    margin-bottom: 4px
}

.btn-lg.btn-block{
    border-radius: 0px;
}

.blue-color{
    color: #316782;
}

#course-info .section{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#course-info .section .detail{
    min-height: 80px;
}

.curriculum-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.curriculum-list > li{
    padding: 10px 0px;
    color: #919191;
}

.curriculum-list.active > li{
    color: #222;
}

.curriculum-list.highlight > li{
    color: #4184a6;
}

.curriculum-list.active > li:hover{
    /*cursor: pointer; */
}

.curriculum-list > li.selected{
    color: #316782;
    font-size: 13px;
}

#timeline {
    width: 90%;
    margin: 0px auto;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease
}

#timeline:before {
    content: "";
    width: 3px;
    height: calc(100% - 60px);
    background: #325C6A;
    left: -12px;
    top: 0;
    position: absolute
}

#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%
}

#timeline .timeline-item {
    position: relative
}

#timeline .timeline-item .timeline-icon {
    background: #316782;
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0%;
    overflow: hidden;
    color: #FFF;
    margin-left: -23px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

#timeline .timeline-item .timeline-icon img, #timeline .timeline-item .timeline-icon i {
    position: relative;
    top: 14px;
    left: 14px
}

#timeline .timeline-item .timeline-content {
    width: 100%;
    /*margin-left: 20px;*/

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease
}

#timeline .timeline-item .timeline-content h2 {
    font-size: 16px;
    color: #000;
    margin: -20px 0 0 0;
}

#timeline .timeline-item:last-child .timeline-icon{
    margin-top: 20px;
}

#timeline .timeline-item:last-child{
    padding-top: 20px;
}

.panel-default{
    border: 1px solid #bbb;
}

.panel-default .panel-header{
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #cecece;
}

.cirriculum-table{
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.cirriculum-table .row:first-child{
    border-top: 1px solid #cecece;
}

.cirriculum-table .row{
    padding: 5px 0px;
    border-bottom: 1px solid #cecece;
}

.cirriculum-table .row:nth-child(even) {background: #CCC}



/***************************************
footer
***************************************/
#footer{
    background-color: #325C6A;
    padding: 30px 0px;
    color: #fff;
}

#footer a {
    color: #69beda;   
}

.quick-info li a{
    color: #fff;
}
.site-link, .site-link:hover, .site-link:focus
{
    color: #0cb8b6;
    text-transform: none;
}

.login-modal{
    padding-left: 0;
    padding-right: 0
}

.form-horizontal{
    max-width: 780px;
    margin: 0 auto;
}
.form-control{
    margin-bottom: 8px;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}


.modal-center {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal-center:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-center .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
/*
#confirmModal.modal{
text-align: center;
}
#confirmModal.modal::before {
content: "";	  
display: inline-block;
height: 100%;	 
margin-right: -4px;
}
#confirmModal .modal-dialog {	
display: inline-block;	
text-align: left;	
}
*/

.thumbnail .caption .row h5 a{
    color: #000 !important;
}

.middle-box{
    width: 768px;
}

.slider{
    background-size:cover; 
    background-position:center;
}

.btn-default-2{
    background-color: #4da391;
    color: #fff;
}

.btn-default-2:hover{
    background-color: #378d7b;
    color: #fff;
}

@media(max-width:575px){

    .navbar-collapse{
        padding-bottom: 30px;
    }

    .middle-box{
        width: 98%;
    }

    .uleague-banner{
        height: 130px;   
    }

    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of your logo width */
        display: block;
    }

    .container{
        margin: 0;
        padding: 0;
    }

    .profile-content{
        margin-top: 0;
    }

    .profile-content section{
        border: none;
        padding: 10px;
    }

    .carousel {
        height: 120px;
    }

    .carousel-cell {
        height: 120px;
    }

    #video{
        width: 100%    !important;
        height: 300px   !important;
    }

    .border-left-lg{
        border-left: 1px solid #fff;
    }



    .event-item-2{
        height: 220px;
    }

    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}

/* For EXTRA SMALL devices */
@media(min-width:576px) and (max-width:767px){

    .navbar-collapse{
        padding-bottom: 30px;
    }

    .middle-box{
        width: 98%;
    }

    .uleague-banner{
        height: 130px;   
    }

    .container{
        margin: 0;
        padding: 0;
    }

    .profile-content{
        margin-top: 0;
    }

    .profile-content section{
        border: none;
        padding: 10px;
    }

    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of your logo width */
        display: block;
    }

    .profile-content{
        border-left: none;
    }

    .carousel {
        height: 200px;
    }

    .carousel-cell {
        height: 200px;
    }

    #video{
        width: 100%    !important;
        height: 300px   !important;
    }

    .border-left-lg{
        border-left: 1px solid #fff;
    }

    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}




}

/* For SMALL devices */
@media (min-width:768px) and (max-width:991px) {

    .form-control{
        margin-bottom: 8px;
    }

    .testi-info{
        margin-bottom: 20px;
    }

    .marb20{
        margin-top: 30px;
    }

    h2{
        font-size: 24px;
        line-height: 1.2;
    }

    .section-title{
        margin-bottom: 30px;
    }

    .middle-box{
        width: 80%;
    }

    .medi-info {
        border: 0px;
        border-bottom: 1px solid #fff;
    }

    .service-info{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .uleague-banner{
        height: 170px;   
    }

    .caption h3 {
        font-size: 14px;
    }

    .caption p{
        font-size: 13px;
        padding-bottom: 5px;
    }

    .caption ul li a i{
        font-size: 14px;
    }

    .banner-text h1{
        font-size: 24px;
    }

    .login-modal{
        padding-left: 65px;
        padding-right: 65px;
    }

    .navbar-collapse{
        padding-bottom: 30px;
    }

    .profile-content{
        border-left: none;
    }

    .container-wide{
        width: 100% !important;
    }

    .carousel {
        height: 270px;
    }

    .carousel-cell {
        height: 270px;
    }

    .border-left-lg{
        border-left: 1px solid #fff;
    }

    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}

/* For MEDIUM devices */
@media (min-width: 992px) and (max-width:1199px) {

    .login-modal{
        padding-left: 65px;
        padding-right: 65px;
    }

    .uleague-banner{
        height: 250px;   
    }

    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}

/* For LARGE devices */
@media (min-width: 1200px) {

    .login-modal{
        padding-left: 65px;
        padding-right: 65px
    }

    .navbar-right{
        margin-right: 0px;
    }

    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}

}
